pelican==3.3
Markdown==2.4
Pygments==1.6
Jinja2==2.9.6
Fabric==1.8.3
git+git://github.com/Saevon/mdx_alerts.git
git+git://github.com/Saevon/mdx_del_ins.git
git+git@github.com:Saevon/markdown-defn-table.git
git+git://github.com/Saevon/mdx_outline
