{% extends "base.html" %}


{% block facebook_article %}
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:description" content="{{ article.content|summary_raw }}" />
    <meta property="og:url" content="{{ FACEBOOK_LINK_PROTOCOL }}:{{ SITEURL }}/{{ article.url }}" />
    <meta property="og:type" content="article" />
{% endblock facebook_article %}





{% block css %}
    {{ super() }}

    {% set style = article.style %}

    <!-- style: {{ style }} -->
    {% if "report" in style %}
        <link rel="stylesheet" type="text/css" href="/{{ STATIC_DIR }}/css/report.css">
    {% endif %}
    {% if 'simple' in style %}
        <link rel="stylesheet" type="text/css" href="/{{ STATIC_DIR }}/css/simple.css">
    {% endif %}
    {% if 'cursive' in style %}
        <link rel="stylesheet" type="text/css" href="/{{ STATIC_DIR }}/css/cursive.css">
    {% endif %}
    {% if 'small-headers' in style %}
        <link rel="stylesheet" type="text/css" href="/{{ STATIC_DIR }}/css/small_headers.css">
    {% endif %}
{% endblock %}


{% block title %}
    {{ super() }} - {{ article.title|file_title_case }}
{% endblock title %}


{% block content %}
    <article class="article article-full {% if article.isnumbered %}article-numbered{% endif %}">
        {% if article|is_untold %}
            {% set title = "Storytellers Rest" %}
            {% set tagline = "Some stories are lost... others are just waiting to be found" %}
        {% else %}
            {% set title = article.title %}
            {% set tagline = article.tagline %}
        {% endif %}

        {% set permalink = article.url %}
        {% include 'partial/header.html' %}

        {% if article|is_untold %}
            <div class="content">
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-warning"></i>
                    This story is not yet told, come back to the storyteller another day.
                </div>
            </div>

            <hr />
        {% else %}
            <div class="date">
              <span>{{ article.date.strftime('%d %B %Y') }}</span>
            </div>
            <div class="content">
              {{ article.content }}
            </div>

            <hr />

            {% if not article.notags %}
                {% include 'partial/tags_list.html' %}

                <hr />
            {% endif %}
        {% endif %}

    </article>

    {% if not main.nofooter %}
        <footer>
            <a class="back-link" href="{{ SITEURL }}/{{ article.category.url }}">&larr; Back <span class="back-link-name">to {{ article.category }}</span></a>
            <hr />
        </footer>
    {% endif %}

    {% if not main.nocomments and not article|is_untold %}
        <div id="comments">
            {# If none of the comment engines are enabled, this will be turned off #}
            {% set comments_enabled = true %}
            {% if DISQUS_SITENAME %}
                {% include 'plugin/disqus.html' %}
            {% else %}
                {% set comments_enabled = false %}
            {% endif %}

            {% if comments_enabled %}
                <noscript>Please enable JavaScript to view the comments</noscript>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}




