{% extends "base.html" %}

{% block title %}
    {{ super() }} - {{ category|file_title_case }}
{% endblock title %}


{% block content %}
    <section class="page category">
        {% set title = category|title_case %}
        {% set tagline = CATEGORY_TAGLINES[category] %}
        {% set permalink = category.url %}
        {% include 'partial/header.html' %}

        {% for article in articles_page.object_list %}
            {% include 'partial/article_excerpt.html' %}
        {% endfor %}

        <hr />

        {% include 'partial/pagination.html' %}
    </section>
{% endblock content %}
