{% extends "base.html" %}

{% block title %}
    {{ super() }} - {% if page %}{{ page.title|file_title_case }}{% endif %}
{% endblock title %}


{% block content %}
    <article class="page">
        {% block page_header %}
            {% set title = page.title %}
            {% set tagline = page.tagline %}
            {% set permalink = page.url %}
            {% include 'partial/header.html' %}
        {% endblock page_header %}

        <div class="content">
            {% block page_content %}
                {{ page.content }}
            {% endblock page_content %}
        </div>

        <hr />
    </article>

    {% if not main.nofooter %}
        <footer>
            {% block page_footer %}
                <a href="{{ SITEURL }}/" class="btn btn-primary">&larr; Head on <span class="back-link-name">Home</span>?</a>
            {% endblock page_footer %}
        </footer>
    {% endif %}
{% endblock %}




