
<div class="sidenav-avatar">
    <hr />
    <a href="/" class="avatar-wrapper perma-link">
        <img src="/{{ STATIC_DIR }}/images/avatar.jpg" class="center avatar img-rounded" />
        <h1 class="site-name">{{ AUTHOR }}</h1>
    </a>
    <hr class="nav-small-hide"/>
</div>


<div class="sidenav-menu">
    <div class="nav-link nav-group {% if 'index'|is_cur_page %}active{% endif %}">
        <a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">
            <div class="nav-link-title">
                Categories
            </div>
        </a>
        <ul class="nav-group-content">
        {% for category in categories|tag_remap %}
            <li class="nav-group-item {% if category.url|is_cur_page(or_child=True) %}active{% endif %}">
                <a href="{{ SITEURL }}/{{ category.url }}">
                    {{ category|title_case }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="nav-link nav-link-single {% if TAGS_URL|is_cur_page(or_child=True) %}active{% endif %}">
        <a href="{{ SITEURL }}/{{ TAGS_URL }}">
            <div class="nav-link-title">
                Tags
            </div>
        </a>
    </div>
</div>
<div class="clearfix"></div>

{% if ACCOUNTS|count %}
    <div class="sidenav-acc-links">
        <hr />
        <div class="account-links center">
            {% for icon, url in ACCOUNTS %}
                <a href="{{ url }}" class="account-link">
                    <i class="fa fa-{{ icon }}"></i>
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}


{% if LINKS|count %}
    <div class="sidenav-blog-links">
        <hr />
        <div class="blog-links center">
            <h4>External Links</h4>
            {% for name, link in LINKS %}
                <div><a href="{{ link }}">{{ name }}</a></div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="sidenav-copyrights">
    <hr />
    <footer>
        <small class="center copyright">
            <a href="{{ SITEURL }}/{{ LICENSE_URL }}">
                © Saevon {{ today().year }}
            </a>
        </small>
        {% if INCLUDE_PELICAN_LINK %}
            <small class="center">
                Powered by <a href="http://pelican.notmyidea.org/">Pelican</a>
            </small>
        {% endif %}
    </footer>
</div>

<hr class="visible-xs" />
<hr class="visible-xs" />

