{% extends "base.html" %}


{% block title %}
    {{ super() }} - {{ tag|file_title_case }}
{% endblock title %}


{% block content %}
    <section class="category page">
        {% set title = tag|title_case %}
        {% set tagline = TAG_TAGLINES[category] %}
        {% set permalink = tag.url %}
        {% include 'partial/header.html' %}

        {% for article in articles_page.object_list %}
            {% if not article|is_untold %}
                {% include 'partial/article_excerpt.html' %}
            {% endif %}
        {% endfor %}

        <hr />

        {% include 'partial/pagination.html' %}
    </section>
{% endblock content %}
