<div class="page-header">
    {% set main = get_main() %}

    {# Remember to update the code below too (closing the <a> tag) else wierd things happen #}
    {% if permalink != False and not main.nopermalink %}
        <a href="{{ SITEURL }}/{{ permalink }}" aa rel="bookmark" title="Permalink to {{ title }}" class="perma-link">
    {% endif %}
            <h1>
                {{- title -}}

                {% if tagline %}
                    <small class="tagline">{{ tagline }}</small>
                {% endif %}
            </h1>
    {% if permalink != False and not main.nopermalink %}
        </a>
    {% endif %}
</div>
