.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    font-weight: bold;
}

/*************************************/
/* Tag Box */
.tag-box {
    list-style: none;
    margin: 0;

    display: inline-block;
}
.tag-box.small {
    font-size: smaller;
}
.tag-box li {
    display: inline;
}
.tag-box .tag-box-item {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    border: 1px dashed #cccccc;

    display: inline-block;
}
.tag-box .tag-box-item:hover {
    text-decoration: none;
    background-color: #e5e5e5;
}
.tag-box .tag-box-item.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}
.tag-box .tag-count {
    vertical-align: super;
    font-size: 0.8em;
}



/***************************************/
/* Non-Excerpt Styles */
.article-full .date {
    margin-bottom: 20px;
    font-weight: bold;
}
.article-full .tagline {
    /*
    Ensures that the text stays on the same line if it will fit,
    however if it needs to wrap it will go to the next line
     */
    display: inline-block;
}



/**************************************/
/* Excerpt Styles */

.article-excerpt {
    padding: 5px 15px 10px 15px;
    border: dashed 1px #3BB3A9;
    border-radius: 20px;

    margin-bottom: 10px;
}

    /* Header */
    .article-title {
        margin: 5px 0 0 5px;
    }

    /* Body */
    .article-body {
        display: -moz-box;
        display: -webkit-flex;
        display: flex;

        margin-bottom: 10px;
    }
    .article-date, .article-short {
        height: 6em;
        display: inline-block;
    }
    .article-short {
        margin-left: 1em;
        overflow: hidden;

        line-height: 1.5em;
    }
    .article-short p {
        /* This makes paragraphs look like they're all one paragraph */
        margin-bottom: .1em;
    }


    /* Date */
    .article-date {
        min-width: 4em;
        border-right: solid 1px #3AC7EB;
        padding: 5px 5px;
    }
    .article-year, .article-day, .article-month {
        text-align: center;
    }
    .article-month, .article-year {
        font-size:  1em;
        font-weight: bolder;
    }
    .article-day {
        font-size: 2em;
        margin-top: -8px;
        margin-bottom: -8px;
    }


    /* Footer */
    .article-footer {
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
    }
    .article-tags {
        -moz-flex: 1;
        -webkit-flex:1;
        flex: 1;
    }
    .article-more {
        margin: auto;
        width: 85px;
    }
    .article-tags ul {
        padding-left: 15px;
    }

