/******************************************/
/* Fonts */
@font-face {
  font-family: "Bazin";
  src: url("../font/Bazin.ttf");
}

@font-face {
  font-family: "Fleurons";
  src: url("../font/fleurons.ttf");
}

@font-face {
  font-family: "Angelique-Rose";
  src: url("../font/angelique-rose/Angelique-Rose.ttf");
}

@font-face {
  font-family: "Kurnia";
  src: url("../font/Kurnia.ttf");
}


@font-face {
  font-family: "Garineldo";
  src: url("../font/garineldo/Garineldo.otf");
}

@font-face {
  font-family: "GarineldoNo01";
  src: url("../font/garineldo/GarineldoNo01.otf");
}

@font-face {
  font-family: "GarineldoNo02";
  src: url("../font/garineldo/GarineldoNo02.otf");
}

/* Fonts: ensure the bazin characters can be displayed */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Bazin", "Fleurons";
}

blockquote {
  font-weight: bolder;
  font-family: "Garineldo", "Helvetica Neue", Helvetica, Arial, sans-serif, "Bazin", "Fleurons";
}


/******************************************/
/* Re-Usable classes */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
tiny {
  font-size: 60%;
}
/* should reflect the <p> tag */
.paragraph {
  margin-bottom: 10px;
}
.line-group {
  display: inline-block;
}

dd {
  margin-left: 40px;
}


/*******************************************/
/* Defn list extension*/
.defn-table {
  margin-left: 20px;
}
.defn-table td:last-child {
  padding-right: 15px;
}
.defn-table td:first-child {
  padding-left: 15px;

  font-weight: bold;
  padding-right: 10px;
  vertical-align: top;
}
.defn-table tbody tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.defn-table code {
  font-weight: normal;
}

/******************************************/
/* General Layout */
body {
  padding: 20px;
}

.perma-link:hover {
  text-decoration: none;
}
.category-excerpts .page-header small {
  font-size: 40%;
}

.page h1,
.page h2,
.page h3 {
  font-weight: bold;
}
.tagline {
  /*
  Ensures that the text stays on the same line if it will fit,
  however if it needs to wrap it will go to the next line
   */
  display: inline-block;
}

/* Main content sizing and positioning */
.section-content {
  max-width: 800px;
}
.sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
}
.sidenav, .sidenav-placeholder {
  max-width: 180px;
}

/* Sidenav Small */
@media (max-width: 48em) {
  .sidenav {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 0;

    margin-bottom: 100px;
  }
}

/* Printing */
@media print {
  footer,
  #comments,
  .sidenav {
    display: none !important;
  }

  /* This would fix the font embedding issue (by avoiding it when possible) */
  /*
  blockquote {
    font-weight: lighter;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Bazin", "Fleurons";
  }
  */
}

@media not print {
  .print-only {
    display: none;
  }
}





/******************************************/
/* Paging */
.paginator .btn {
  font-size: 125%;
  font-weight: bold;
}


/********************************************/
/* Bootstrap Colours (Customized) */
.alert-success,
.text-success {
  color: #468847;
}
.alert-info,
.text-info {
  color: #3A87AD;
}
.alert-warning,
.text-warning {
  color: #C09853;
}

.alert code {
  background-color: rgba(230, 230, 230, .2);
  border: solid rgba(180, 180, 180, .5) 1px;
}


/* Fix the difficult to notice links in the info box */
.alert-info a {
  text-decoration: underline;
}

code {
  background-color: #F8F8F8;
  font-style: italic;
  color: #2593C7;
}



/*****************************************************/
/* Bulleted lists */
p + ul, p + ol {
  margin-bottom: 10px;
}



/******************************************************/
/* Pygments Customizations */
.no-pre-err pre .err {
  border: none;
}


