
/*************/
/* Side Nav */
.sidenav {
  overflow-y: scroll;
  padding: 20px;
}
.avatar-wrapper {
  display: inline-block;
  width: 100%;
}
.avatar {
  width: 150px;
  max-width: 100%;
}
.site-name {
  text-align: center;
  margin-top: 5px;
}


/**************/
/* Menu items */
.nav-link {
  border: 1px solid transparent;
  border-top-color: #EEE;
}
.nav-link:last-child {
  border-bottom-color: #EEE;
}
.nav-link-title {
  padding-left: 10px;
  font-size: 150%;
  font-weight: bold;
}
.nav-group {
  margin-bottom: 10px;
}
.nav-group .nav-link-title {
  border-bottom: 1px solid transparent;
  margin-bottom: 5px;
}
.nav-group-content {
  padding-left: 20px;
  margin-bottom: 0;

  list-style: none;
}
.nav-group-item {
  font-size: 120%;
  border: 1px solid transparent;
  border-top-color: #EEE;

  /* Padding should be on the block element */
  padding: 2px 5px;
}
.nav-group-item a {
  /* Ensure long menu items work */
  word-wrap: break-word;
  hyphens: auto;
}

.nav-group-item:first-child {
  border-top-color: transparent;
}

  /****************************/
  /* Active and hover effects */
  .nav-link:hover {
    border-radius: 10px;
    border-color: #CCC;
  }
  .nav-link-title:hover,
  .nav-group-item:hover {
    border-radius: 5px;
    background-color: #EEE;
    border-color: #CCC;
  }
  .nav-group-item.active {
    background-color: #EEF;

    border-radius: 5px;
  }

  /* Remove Rounded borders when outer borders are visible */
  .nav-group:hover .nav-group-item {
    border-top-right-radius: 0;
    border-right-width: 0;
  }
  .nav-group:hover .nav-group-item:not(:last-child) {
    border-bottom-right-radius: 0;
  }
  .nav-group:hover .nav-group-item:last-child {
    border-bottom-color: transparent;
  }
  /* -------------- */

  .nav-link.active,
  .nav-link.active .nav-link-title {
    border-radius: 10px;
  }
  .nav-link.active .nav-link-title {
    background-color: #EEF;
  }
  .sidenav-menu a:hover {
    text-decoration: none;
  }


  /* Fix the extra border at the bottom on highlight problem */
  .nav-link-single.active + .nav-link:not(:hover),
  .nav-link:hover + .nav-link,
  .nav-group-item.active + .nav-group-item:not(:hover),
  .nav-group-item:hover + .nav-group-item {
    border-top-color: transparent;
  }




/*****************/
/* Account Links */
.account-link {
  color: black;
  font-size: 40px;
  display: inline-flex;

  padding: 5px;
}
.account-link:hover {
  text-decoration: none;
}



/*****************/
/* Sidenav Small */
@media (max-width: 770px) {
  .avatar-wrapper {
    width: 150px;
    margin-right: 20px;
    float: left;
  }
  .sidenav-menu {
    width: 70%;
    float: left;
  }

  .nav-small-hide {
    display: none;
  }

  .account-link {
    font-size: 80px;
  }

  .page-header {
    text-align: center
  }
}

@media (min-width: 770px) {
  .nav-small-show {
    display: none;
  }
}


/******************************************************/
/* The text size needs to decrement for the site name */

/**********************************************/
/* We should also vary the avatar positioning */
@media (max-width: 650px) {
  .sidenav-menu {
    width: 65%;
  }
}
@media (max-width: 570px) {
  .sidenav-menu {
    width: 55%;
  }
}
@media (max-width: 460px) {
  .sidenav-menu {
    width: 45%;
  }
}



/*********************************/
/* Misc */
.copyright {
  margin-bottom: 5px;
}













