code {
    /* Clear bootstrap styles */
    color: inherit;
    padding: inherit;
    background-color: inherit;

    font-style: italic;
}

blockquote {
    font-size: 90%;
    font-style: italic;
}
