/******************************************/
/* Re-Usable classes */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.tiny {
  font-size: 60%;
}



/******************************************/
/* General Layout */
body {
  padding: 20px;
}

.perma-link:hover {
  text-decoration: none;
}
.category-excerpts .page-header small {
  font-size: 40%;
}

.page h1,
.page h2,
.page h3 {
    font-weight: bold;
}
.page .tagline {
    /*
    Ensures that the text stays on the same line if it will fit,
    however if it needs to wrap it will go to the next line
     */
    display: inline-block;
}

  /* Main content sizing and positioning */
  .section-content {
    max-width: 800px;
  }
  .sidenav {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .sidenav, .sidenav-placeholder {
    max-width: 180px;
  }

  /* Side Nav */
  .sidenav {
    overflow-y: scroll;
    padding: 20px;
  }
  .avatar-wrapper {
    display: inline-block;
    width: 100%;
  }
  .avatar {
    width: 150px;
    max-width: 100%;
  }
  .site-name {
    text-align: center;
    margin-top: 5px;
  }


  /* Account Links */
  .account-link {
    color: black;
    font-size: 40px;
    display: inline-flex;

    padding: 5px;
  }
  .account-link:hover {
    text-decoration: none;
  }

  /* Sidenav Small */
  @media (max-width: 770px) {
    .sidenav {
      position: relative;
      max-width: 100%;
      width: 100%;
      padding: 0;

      margin-bottom: 100px;
    }
    .avatar-wrapper {
      width: 25%;
    }

    .account-link {
      font-size: 80px;
    }

    .page-header {
      text-align: center
    }
  }





/******************************************/
/* Paging */
.paginator .btn {
  font-size: 125%;
  font-weight: bold;
}


/********************************************/
/* Bootstrap Colours (Customized) */
.alert-success,
.text-success {
  color: #468847;
}
.alert-info,
.text-info {
  color: #3A87AD;
}
.alert-warning,
.text-warning {
  color: #C09853;
}
