<div class="page-header">
  <h1>
    {{ page.title }}
    {% if page.tagline %}
      <small class="tagline">{{page.tagline}}</small>
    {% endif %}
  </h1>
</div>

<div class="row-fluid post-full">
  <div class="span12">
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>

    {% unless page.categories == empty %}
      <ul class="tag-box inline">
        <li><i class="icon-book"> </i></li>
        {% assign categories_list = page.categories %}
        {% include JB/categories_list %}
      </ul>
    {% endunless %}
    {% unless page.tags == empty %}
      <ul class="tag-box inline">
        <li><i class="icon-tags"> </i></li>
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      </ul>
    {% endunless %}

    <div class="paginated btn-group">
      {% assign previous = page.previous %}
      <a class="btn prev {% unless previous %}off{% endunless %}"
        {% unless previous %}disabled{% endunless %}
        href="{{ BASE_PATH }}{{ previous.url }}"
        title="{{ previous.title }}"
      >
        &laquo;
        {% if previous %}
          {{ previous.title }}
        {% else %}
          Previous
        {% endif %}
      </a>

      <a class="btn archive" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">
        Archive
      </a>

      {% assign next = page.next %}

      <a class="btn next {% unless next %}off{% endunless %}"
        {% unless previous %}disabled{% endunless %}
        href="{{ BASE_PATH }}{{ next.url }}"
        title="{{ next.title }}"
      >
        {% if next %}
          {{ next.title }}
        {% else %}
          Next
        {% endif %}
        &raquo;
      </a>
    </div>

    {% if site.JB.comments.provider %}
      <hr>
      {% include JB/comments %}
    {% endif %}
  </div>
</div>
